#vim: ft=gitconfig
[core]
  pager = delta
	editor = nvim
[delta]
  line-numbers = true
  side-by-side = true
  theme = one-dark
[push]
  default = current
  autoSetupRemote = true
[pull]
	rebase = false
	default = current
[user]
	email = pablo@pablopunk.com
	name = Pablo P Varela
[blame]
  date = short
[interactive]
  diffFilter = delta --color-only
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
