[Unit]
Description=xremap key remapper
After=graphical-session.target

[Service]
Type=simple
ExecStart=%h/.cargo/bin/xremap %h/.config/xremap/config.yml --watch
Restart=always
RestartSec=1

[Install]
WantedBy=default.target
