    // Global: rounded corners + transparency + blur
    window-rule {
        geometry-corner-radius 8
        clip-to-geometry true
        opacity 0.92
        background-effect { blur true; }
    }

     // if you use steam you will probably like these
    window-rule {
        match app-id="steam"
        exclude title=r#"^[Ss]team$"#
        open-floating true
    }

    window-rule {
       match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
       default-floating-position x=10 y=10 relative-to="bottom-right"
       open-focused false
    }

    layer-rule {
        match namespace="^noctalia-wallpaper*"
        place-within-backdrop true
    }
